project/my_sum/__pycache__/__init__.cpython-311.pyc
project/__pycache__/test.cpython-311.pyc
test-runners/__pycache__/test_sum-pytest.cpython-310-pytest-7.4.3.pyc
test-runners/__pycache__/test_sum-pytest.cpython-311-pytest-7.4.0.pyc
project/.coverage
mocking/side_effect_refactoring/.coverage
mocking/side_effect_refactoring/lcov.info
mocking/side_effect_refactoring/__pycache__/my_calendar.cpython-311.pyc
mocking/side_effect_refactoring/__pycache__/tests.cpython-311.pyc
