*.pyc
project/.coverage
mocking/side_effect_refactoring/.coverage
mocking/side_effect_refactoring/lcov.info
fixtures/myenv/**
/fixtures/myvenv
/fixtures/.pytest_cache
/fixtures/__pycache__
poetry-sample-project/poetry.lock
blog_app/database.db
blog_app/tests/test_article/.coverage
blog_app/tests/test_article/lcov.info
